@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url(fontes/bubblegum-sans-regular.otf);
    font-weight: normal;
}

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variaveis*/
:root{
    --cor1: #c5ebc5;
    --cor2: #000;
    --cor3: #3ddc84;
    --cor4: #1a5c37;
    --cor5: #fff;
    --cor6: #81a7e0;

    --fonte-titulo: 'titulo';
}

body{
    background: var(--cor6);
}


#interface{
    background: var(--cor5);
    max-width: 1200px;
    margin: 0 auto;

}

.topo{
    height: 70px;
}

.logo img{
    margin: 10px 20px;
    position: relative;
}

.menu{
    display: block;
    position: absolute;
    width: 800px;
    left: 800px;
}

.menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu li{
    float: left;
}


h1{
    font-family: titulo;
}
